<ul><%= form_for(@task) do |f| %>
  <li><%= f.label :title %>
  <%= f.text_field :title %></li>
  <li><%= f.label :details %>
  <%= f.text_field :details %></li>
  <li><%= f.submit "Update task" %></li>
<% end %></ul>
